@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap');
body {
    font-family: 'Open Sans';
}

header {
    font-family: "Open Sans";
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


header img{
    height: 200px;

}



section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.data-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
