@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:wght@400;700&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Oswald:wght@700&family=PT+Sans+Narrow&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text:wght@400;700&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Oswald:wght@700&family=PT+Sans+Narrow&family=Playfair+Display&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .movie-cont {
    width: 1512px;
    height: 982px;
  }
  .sidebar {
    width: 226px;
    height: 982px;
    flex-shrink: 0;
  }
}

/* hero slider css */
.slick-dots {
  top: 0;
  right: 0;
  background: none;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.slick-dots > ul {
  display: grid;
  right: 0;
  top: 35%;
  position: absolute;
  color: white;
}
/* Style the active pagination dot */
.slick-dots .slick-active {
  font-size: 1rem;
  display: flex;
  align-items: center; /* Center vertically */
  padding: 10px -10px;
}

.slick-dots .slick-active:before {
  content: "-";
  display: inline-block;
  margin-right: 0.5rem;
}

/* card */
.movie-card {
  @apply grid lg:grid-cols-4 md:grid-cols-3 max-sm:grid-cols-2 grid-cols-1 sm:gap-6  max-sm:gap-[10px] gap-[80px] mt-10;
}

.movie-overview {
  @apply max-container pt-5 movie-cont pl-10 pr-10 w-full mt-5 mb-[10rem] h-full p-4 flex gap-[24px];
}
